<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- For  Flask launch -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--for pure .html launch -->
    <!-- <link rel='stylesheet' href='styles.css'> -->

    <title>Titanic parameter selection</title>
    <style>
        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    </style>
</head>
<body>

    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="iceberg"></div>
        <div class="ship"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>



    <div class="container">
        <h1>Book a ticket to Titanic</h1>
        <form action="http://localhost:5000/prediction" method="get" onsubmit="validateForm()">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input type="text" id="surname" name="surname" autocomplete="off" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <select id="title" name="title" required>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Dr">Dr</option>
                        <option value="Master">Master</option>
                        <option value="Rev">Reverend</option>
                        <option value="Major">Major</option>
                        <option value="Capt">Captain</option>
                        <option value="Don">Don</option>
                        <option value="Dona">Dona</option>
                        <option value="Lady">Lady</option>
                        <option value="Sir">Sir</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" min="0" name="age" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="sex">Sex:</label>
                    <select id="sex" name="sex" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="spouse">Spouse:</label>
                    <select id="spouse" name="spouse" onchange="calculatePrice()" required>
                        <option value="1">Yes</option>
                        <option value="0" selected>No</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="relatives">Children:</label>
                    <input type="number" id="relatives" min="0" name="relatives" onchange="calculatePrice()" required>
                </div>
                <div class="form-group">
                    <label for="siblings">Siblings:</label>
                    <input type="number" id="siblings" min="0" name="siblings" onchange="calculatePrice()" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="embarked">Port of departure:</label>
                    <select id="embarked" name="embarked" onchange="onDepartureChange()" required>
                        <option value="S">Southampton</option>
                        <option value="C">Cherbourg</option>
                        <option value="Q">Queenstown</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="arrival" class="non-selectable-label">Port of arrival:</label>
                    <select id="arrival" name="arrival" disabled>
                        <option selected disabled hidden>New York</option>
                    </select>
                </div>
            </div>
                <div class="form-row">
                <div class="form-group">
                    <label for="pclass">Ticket class:</label>
                    <select id="pclass" name="pclass" onchange="deckClassPrice()" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="deck">Deck:</label>
                    <select id="deck" name="deck" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                    </select>
                </div>
            </div>

            <div class="form-row center">
                <button type="submit">Submit</button>
            </div>
            <div class="form-row center" id="price-row">
                <label for="price"></label>
                <span id="price"></span>
            </div>
        </form>

    </div>
    <script src="{{ url_for('static', filename='titanscript.js') }}"></script>
</body>
</html>