<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titanic parameter selection</title>
</head>
<body>
    <h1>Booking a ticket to Titanic</h1>
    <form action ="/prediction" method ="post">
        <label  for="title">Title:</label>
        <select id="title" name="title" required>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Dr">Dr</option>
            <option value="Master">Master</option>
            <option value="Rev">Reverend</option>
            <option value="Major">Major</option>
            <option value="Capt">Captain</option>
            <option value="Don">Don</option>
            <option value="Dona">Dona</option>
            <option value="Lady">Lady</option>
            <option value="Sir">Sir</option>
        </select><br>


        <label  for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label  for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required><br>


        <label  for="sex">Sex:</label>
        <select id="sex" name="sex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>


        <label  for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <label  for="siblings">Siblings:</label>
        <input type="number" id="siblings" name="siblings" required><br>

        <label  for="spouse">Spouse:</label>
        <input type="number" id="spouse" name="spouse" required><br>

        <label  for="relatives">Children:</label>
        <input type="number" id="relatives" name="relatives" required><br>

        <label  for="embarked">Port of departure:</label>
        <select id="embarked" name="embarked" required>
            <option value="S">Southampton</option>
            <option value="C">Cherbourg</option>
            <option value="Q">Queenstown</option>
        </select><br>

        <label  for="pclass">Ticket class:</label>
        <select id="pclass" name="pclass" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br>

        <label  for="deck">Deck:</label>
        <select id="deck" name="deck" required>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
        </select><br>

        <button type="submit">Submit</button>

    </form>
</body>
</html>